<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.sstu.rasp.ushakov"
    android:versionCode="5"
    android:versionName="2.0.1">

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ru.sstu.rasp.ushakov.FacultyActivity"
            android:label="@string/title_activity_faculty" >
        </activity>
        <activity
            android:name="ru.sstu.rasp.ushakov.SpecActivity"
            android:label="@string/title_activity_spec" >
        </activity>
        <activity
            android:name="ru.sstu.rasp.ushakov.RaspActivity"
            android:label="@string/app_name"
            android:theme="@style/AppNoBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.sstu.rasp.ushakov.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="ru.sstu.rasp.ushakov.TimerActivity"
            android:theme="@style/TimerTheme">
        </activity>
    </application>

</manifest>
